<!DOCTYPE html>
<html>
<head name="">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" type="image/x-icon" href="/WFMDashboard/Images/favicon.ico" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Scripts/chosen_v1.8.2/chosen.css" />
    <script src="~/Scripts/common.js"></script>
</head>
<body>
    <div class="navbar navbar-blue navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/WFMDashboard/">
                    <img style="height: 50px; margin-top: -15px; margin-left: -15px; float:left" src='/WFMDashboard/Images/km_logo.jpg' />
                    <span>@ViewBag.Title</span>
                </a>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <a href="/WFMDashboard/Home/LogOutGoogle" class="log-off-google small"> Log Off Google Calendar </a>
            <p>&copy; @DateTime.Now.Year - Konica Minolta</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/libraries")
    @RenderSection("scripts", required: false)
</body>
</html>
